.footer{
    height:250px;
    width: 100%;
    background-color: var(--parpal);
    display:flex;
    font-family: "Abhaya Libre";
    
}

.logo{
    margin-left:100px;
    padding-top: 35px;
}

.line{
    padding-top: 22.5px;
}

.gaathahq{
    margin-left: 40px;
    padding-top: 40px;
   
}

.gaathahq h1{
    font-style: bold;
    font-family: "Abhaya Libre Bold";
    color: var(--kream);
    font-size: 18px;
}

.gaathahq p{
    font-family: "Abhaya Libre Thin";
    color: var(--kream);
    font-size: 16px;
}


.Contact{
    margin-left: 50px;
    padding-top: 40px;
   
}

.Contact h1{
    font-style: bold;
    font-family: "Abhaya Libre Bold";
    color: var(--kream);
    font-size: 18px;
}

.Contact p{
    font-family: "Abhaya Libre Thin";
    font-style: thin;
    color: var(--kream);
    font-size: 16px;
}

.find h1{
    padding-top: 40px;
    margin-right: 100px;
    margin-left: 600px;
    font-family: "Abhaya Libre Bold";
    color: var(--kream);
    font-size: 18px;

}

.socialIcons{
    
    font-size: 32px;
    margin-top: 30px;;
    margin-left:550px;
   
    
}



.socialIcons a{
    padding:10px;
    color:var(--kream);
    text-decoration: none;

}