:root{
  --parpal:#6D285f;
  --kream:#F2E6AB;

}
.App{
  align-items: center;
  text-align:center;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--kream);
}
body{
  padding:0;
  margin:0;
  
}

@font-face {
  font-family: "Abhaya Libre";
  src: local("../assets/AbhayaLibre-Medium.ttf"),
   url("./assets/AbhayaLibre-Medium.ttf") format("truetype");
  font-weight: medium;
  }
  
@font-face {
  font-family: "Abhaya Libre Bold";
  src: local("../assets/AbhayaLibre-Bold.ttf"),
    url("./assets/AbhayaLibre-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Abhaya Libre Thin";
  src: local("../assets/AbhayaLibre-Regular.ttf"),
    url("./assets/AbhayaLibre-Regular.ttf") format("truetype");
  font-weight: thin;
}